@model WsmsQuiz.ViewModels.QuizAdminViewModel

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div>
    <h4>QuizAdminViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuizAdminID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizAdminID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizSessionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizSessionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizSessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizSessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizQuestionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizQuestionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
