@{
    ViewBag.Title = "Home Page";
}
@model List<WsmsQuiz.ViewModels.QuestionAnswerViewModel>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="row">
        @Html.ValidationSummary(true)
    </div>
    // @Html.ValidationSummary("Please correct the error")
    for (int mc = 0; mc < Model.Count; mc++)
    {
        @Html.HiddenFor(m => Model[mc].UserID)
        @Html.HiddenFor(m => Model[mc].IsMobileCrmUser)
        <p>@Model[mc].QuizSessionName</p>
        for (int i = 0; i < Model[mc].Questions.Count; i++)
        {
            int questionCount = @i + 1;
            <div>
                Question No.= @questionCount . @Html.Label(Model[mc].Questions[i].QuizQuestionName)
            </div>

            <br />
            @Html.HiddenFor(m => Model[mc].Questions[i].QuizQuestionID)

            @*foreach (var answer in Model[mc].Questions[i].Answers)
                {

                    @Html.RadioButtonFor(model =>
                                     Model[mc].Questions[i].UserSelectedAnswer, answer.Id)
                    @Html.Label(answer.AnswerName)
                    <br />
                }*@
            for (int j = 0; j < Model[mc].Questions[i].Answers.Count; j++)
            {
                @Html.RadioButtonFor(model =>Model[mc].Questions[i].UserSelectedAnswer, Model[mc].Questions[i].Answers[j].Id)
                @Html.Label(Model[mc].Questions[i].Answers[j].AnswerName)
               // @Html.ValidationMessageFor(model => Model[i].Song_Name)
                <br />
            }

        }
    }

    
    <input type="submit" value="Save" />
    
}
