@{
    ViewBag.Title = "Home Page";
}
@model List<WsmsQuiz.ViewModels.QuestionAnswerViewModel>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    for (int mc = 0; mc < Model.Count; mc++)
    {
        @Html.HiddenFor(m => Model[mc].UserID)
        @Html.HiddenFor(m => Model[mc].IsMobileCrmUser)
        <p>@Model[mc].QuizSessionName</p>
        for (int i = 0; i < Model[mc].Questions.Count; i++)
        {
            int questionCount = @i + 1;
            //Varibale assignment
           // var question = Model[mc].GeneralQuestions[i];
            <div>
                Question No.= @questionCount . @Html.Label(Model[mc].Questions[i].QuizQuestionName)
            </div>

            <br />
             @Html.HiddenFor(m => Model[mc].Questions[i].QuizQuestionID)

            foreach (var answer in Model[mc].Questions[i].Answers)
            {

                @Html.RadioButtonFor(model =>
                                 Model[mc].Questions[i].UserSelectedAnswer, answer.Id)
                @Html.Label(answer.AnswerName)
                <br />
            }

        }
    }


    <input type="submit" value="Save" />
}
