@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*
    @using System.Reflection
    @using Mvc5Practice.ViewModels
    @model Mvc5Practice.ViewModels.CheckOutViewModel
    @using (Html.BeginForm())
    {

        foreach (SelectItems paymentItem in Model.PaymentTypes)
        {
            for (int i = 0; i < paymentItem.totalOption; i++)
            {
                Type myClassType = paymentItem.GetType();
                PropertyInfo[] properties = myClassType.GetProperties();

                foreach (PropertyInfo property in properties)
                {

                    //Console.WriteLine("Name: " + property.Name + ", Value: " + property.GetValue(paymentItem, null));

                    <input type="radio" name="group2" value="@property.Name"> @property.GetValue(paymentItem, null)
                }
                <br>
            }




        @Html.RadioButtonFor(mbox => mbox.SelectedPaymentType,
                                                  paymentItem.option1)
            @paymentItem.option1
        }
        <input type="submit" value="Save" />
    }
    <hr/>
    <input type="radio" name="group2" value="Water"> Water<br>
    <input type="radio" name="group2" value="Beer"> Beer<br>
    <input type="radio" name="group2" value="Wine" checked> Wine<br>
*@
@model Mvc5Practice.ViewModels.try2.StudentViewModel
@using (Html.BeginForm())
{
    <p>@Model.QuizType</p>
    for (int i = 0; i < Model.GeneralQuestions.Count; i++)
    {
        var question = Model.GeneralQuestions[i];
        @Html.Label(question.QuestionString)
        <br />
        foreach (var answer in question.PossibleAnswers)
        {
            @Html.RadioButtonFor(model =>
             Model.GeneralQuestions[i].SelectedAnswerId, answer.Id)
            @Html.Label(answer.Answer)
            <br />
        }
    }
    <input type="submit" value="Save" />
}
