@model IEnumerable<AspUpdateAjax.ViewModels.QuestionViewModel>
<div class="table-responsive">
    <table id="tblQuestionDetails" class="table table-bordered ">
        <tr class="text-danger">
            <th>@Html.DisplayNameFor(model => model.QuestionName)</th>
            <th>@Html.DisplayNameFor(model => model.CorrectAnswer)</th>
            <th>@Html.DisplayNameFor(model => model.Answer1)</th>
            <th>@Html.DisplayNameFor(model => model.Answer2)</th>
            <th>@Html.DisplayNameFor(model => model.Answer3)</th>
            <th>@Html.DisplayNameFor(model => model.Answer4)</th>
            <th>@Html.DisplayNameFor(model => model.Answer5)</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-info">
                <td> @Html.DisplayFor(modelItem => item.QuestionName)</td>
                <td> @Html.DisplayFor(modelItem => item.CorrectAnswer)</td>
                <td>@Html.DisplayFor(modelItem => item.Answer1)</td>
                <td>@Html.DisplayFor(modelItem => item.Answer2)</td>
                <td>@Html.DisplayFor(modelItem => item.Answer3)</td>
                <td>@Html.DisplayFor(modelItem => item.Answer4)</td>
                <td>@Html.DisplayFor(modelItem => item.Answer5)</td>
                <td>
                    <button class="btn btn-danger actionButton" type="button" id="btnRemove">Remove</button>
                </td>
            </tr>
        }
    </table>
</div>
